div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#3d405b;
  padding:20px;
  height: 65px;
}
input {
  margin-top: 20px;
  width: 100%;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: rgb(255, 141, 47);
}

a:active {
  color: red;
}
body {
  margin: 30px;
  background-color: #000000;
  background-image: url(../img/background-image.jpg.jpg);
  background-size: 100%;
  min-height: 80vh;
  color: white;
}
h1, h2, h4 {
  text-align: center;
}