@{
  Layout = "_Layout";
}
<h1>Claire's Cuts</h1>
<h4><em>"A subsidiary of Pierre's Bakery Inc."</em></h4>
<p>@Html.ActionLink("View All Clients", "Index", "Clients")</p>
<p>@Html.ActionLink("View All Stylists", "Index", "Stylists")</p>